<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h2>Contact</h2>
        </mat-card-title>
        <mat-card-subtitle>You can find my phone number and email address below.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon>phone</mat-icon>
                <h4 mat-line>Phone</h4>
                <p mat-line>
                    <span [hidden]="phoneNumberVisible" (mouseenter)="phoneNumberVisible = !phoneNumberVisible">+36-**-***-****</span>
                    <span [hidden]="!phoneNumberVisible" (mouseleave)="phoneNumberVisible = !phoneNumberVisible">Haha! Just kidding!</span>
                </p>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <mat-icon mat-list-icon>mail</mat-icon>
                <h4 mat-line>Email</h4>
                <p mat-line>
                    <a href="mailto:alex.toth@iit.uni-miskolc.hu">alex.toth@iit.uni-miskolc.hu</a>
                </p>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
