<table>
    <caption>ratings component</caption>
    <thead>
        <tr>
            <th>semester</th>
            <th>subject</th>
            <th>usefulness</th>
            <th>feasibility</th>
            <th>diction</th>
            <th>preparedness</th>
            <th>helpfulness</th>
            <th>raters</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rating of ratings">
            <td>{{ rating.semester }}</td>
            <td>{{ rating.subject }}</td>
            <td>{{ rating.usefulness | number : "1.2-2" }}</td>
            <td>{{ rating.feasibility | number : "1.2-2" }}</td>
            <td>{{ rating.diction | number : "1.2-2" }}</td>
            <td>{{ rating.preparedness | number : "1.2-2" }}</td>
            <td>{{ rating.helpfulness | number : "1.2-2" }}</td>
            <td>{{ rating.raters }}</td>
        </tr>
        <tr>
            <td colspan="2">overall</td>
            <td>{{ overall.usefulness | number : "1.2-2" }}</td>
            <td>{{ overall.feasibility | number : "1.2-2" }}</td>
            <td>{{ overall.diction | number : "1.2-2" }}</td>
            <td>{{ overall.preparedness | number : "1.2-2" }}</td>
            <td>{{ overall.helpfulness | number : "1.2-2" }}</td>
            <td>{{ overall.raters }}</td>
        </tr>
    </tbody>
</table>
