<mat-sidenav-container fullscreen>
    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="push">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let main of menu" [disabled]="!main.submenu">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon>{{ main.icon }}</mat-icon>
                                <a [routerLink]="main.path" routerLinkActive="router-link-active" mat-line style="color: inherit; text-decoration: inherit;">{{ main.label }}</a>
                            </mat-list-item>
                        </mat-list>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list *ngFor="let sub of main.submenu">
                    <a mat-list-item [routerLink]="sub.path" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>{{ sub.icon }}</mat-icon>
                        <span mat-line>{{ sub.label }}</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>
        <!-- Toolbar -->
        <mat-toolbar color="primary">
            <span [hidden]="sidenav.opened">
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </span>
            <span>Alex Toth's Website</span>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
