<mat-sidenav-container fullscreen>
    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="over">
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Alex Toth's Website</span>
        </mat-toolbar>
        <mat-accordion>
            <mat-expansion-panel *ngFor="let main of menu" [disabled]="!main.submenu">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-list>
                            <mat-list-item>
                                <mat-icon mat-list-icon>{{ main.icon }}</mat-icon>
                                <a [routerLink]="main.path" routerLinkActive="router-link-active" (click)="!main.submenu && sidenav.toggle()"
                                    mat-line class="my-menu-item">{{ main.label }}</a>
                            </mat-list-item>
                        </mat-list>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list *ngFor="let sub of main.submenu">
                    <a mat-list-item [routerLink]="sub.path" routerLinkActive="router-link-active" (click)="sidenav.toggle()">
                        <mat-icon mat-list-icon>{{ sub.icon }}</mat-icon>
                        <span mat-line>{{ sub.label }}</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-sidenav>

    <!-- Content -->
    <mat-sidenav-content>
        <!-- Toolbar -->
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Alex Toth's Website</span>
                <span class="my-spacefiller"></span>
                <blockquote>
                    <q>Talk is cheap. Show me the code.</q>
                    <span> - Linus Torvalds</span>
                </blockquote>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="my-container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
