<div>
    <!-- Toolbar -->
    <mat-toolbar color="primary">
        <span>Alex Toth's Website</span>
    </mat-toolbar>

    <mat-sidenav-container>
        <!-- Sidenav -->
        <mat-sidenav mode="side" opened>
            <mat-nav-list>
                <a mat-list-item routerLink="home">Home</a>
                <a mat-list-item routerLink="information">Information</a>
                <a mat-list-item routerLink="education">Education</a>
            </mat-nav-list>
        </mat-sidenav>

        <!-- Content -->
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
