<mat-card>
    <mat-card-header>
        <mat-card-title>Catalogue</mat-card-title>
    </mat-card-header>

    <mat-card-content *ngIf="catalogue">
        <!-- Course selection -->
        <p>
            <mat-form-field>
                <mat-select placeholder="Select course" (selectionChange)="loadCatalogue($event.value)" [value]="courses[0]">
                    <mat-option *ngFor="let course of courses" [value]="course">
                        {{ course.title }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </p>

        <!-- Neptun Code input field for filtering-->
        <p>
            <mat-form-field>
                <input matInput type="text" maxlength="6" placeholder="Neptun Code" [(ngModel)]="filterSettings.neptunCode"
                    (input)="onChange()">
            </mat-form-field>
        </p>

        <!-- Presence filter -->
        <p>
            <mat-label>Presence</mat-label>
            <mat-button-toggle-group [(ngModel)]="filterSettings.presence" (change)="onChange()" [value]="2">
                <mat-button-toggle [value]="0">Failed</mat-button-toggle>
                <mat-button-toggle [value]="2">All</mat-button-toggle>
                <mat-button-toggle [value]="1">Passed</mat-button-toggle>
            </mat-button-toggle-group>
        </p>

        <!-- Homework filter -->
        <p>
            <mat-label>Homeworks</mat-label>
            <mat-button-toggle-group [(ngModel)]="filterSettings.homeworks" (change)="onChange()" [value]="2">
                <mat-button-toggle [value]="0">Failed</mat-button-toggle>
                <mat-button-toggle [value]="2">All</mat-button-toggle>
                <mat-button-toggle [value]="1">Passed</mat-button-toggle>
            </mat-button-toggle-group>
        </p>

        <!-- Practice filter -->
        <p>
            <mat-label>Practice</mat-label>
            <mat-button-toggle-group [(ngModel)]="filterSettings.practice" (change)="onChange()" [value]="2">
                <mat-button-toggle [value]="0">Failed</mat-button-toggle>
                <mat-button-toggle [value]="2">All</mat-button-toggle>
                <mat-button-toggle [value]="1">Passed</mat-button-toggle>
            </mat-button-toggle-group>
        </p>

        <!-- Reset filter -->
        <p>
            <button mat-button (click)="resetFilter()">Reset</button>
        </p>

        <mat-table [dataSource]="catalogue" matSort>
            <!-- Index column -->
            <ng-container matColumnDef="index">
                <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                <mat-cell *matCellDef="let entry; let i = index;">
                    {{ i + 1 }}
                </mat-cell>
            </ng-container>

            <!-- Neptun Code column -->
            <ng-container matColumnDef="neptunCode">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Neptun Code</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    {{ entry.neptunCode }}
                </mat-cell>
            </ng-container>

            <!-- Presence column -->
            <ng-container matColumnDef="presence">
                <mat-header-cell *matHeaderCellDef>Presence</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <div [ngSwitch]="getPresenceResult(entry)">
                        <div *ngSwitchCase="0">
                            <mat-icon>close</mat-icon>
                        </div>
                        <div *ngSwitchCase="1">
                            <mat-icon>done</mat-icon>
                        </div>
                        <div *ngSwitchDefault>
                            <mat-icon>help</mat-icon>
                        </div>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- Homeworks column-->
            <ng-container matColumnDef="homeworks">
                <mat-header-cell *matHeaderCellDef>Homeworks</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <div [ngSwitch]="getHomeworksResult(entry)">
                        <div *ngSwitchCase="0">
                            <mat-icon>close</mat-icon>
                        </div>
                        <div *ngSwitchCase="1">
                            <mat-icon>done</mat-icon>
                        </div>
                        <div *ngSwitchDefault>
                            <mat-icon>help</mat-icon>
                        </div>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- Practice column -->
            <ng-container matColumnDef="practice">
                <mat-header-cell *matHeaderCellDef>Practice</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    <div [ngSwitch]="getPracticeResult(entry)">
                        <div *ngSwitchCase="0">
                            <mat-icon>close</mat-icon>
                        </div>
                        <div *ngSwitchCase="1">
                            <mat-icon>done_all</mat-icon>
                        </div>
                        <div *ngSwitchDefault>
                            <mat-icon>help</mat-icon>
                        </div>
                    </div>
                </mat-cell>
            </ng-container>

            <!-- Plus points column -->
            <ng-container matColumnDef="plusPoints">
                <mat-header-cell *matHeaderCellDef>Plus points</mat-header-cell>
                <mat-cell *matCellDef="let entry">
                    {{ entry.plusPoint }}
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>
        </mat-table>

        <!-- Paginator -->
        <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>

    </mat-card-content>
</mat-card>
