<mat-form-field>
    <mat-select placeholder="Select course" (selectionChange)="loadCatalogue($event.value)">
        <mat-option *ngFor="let course of courses" [value]="course">
            {{ course.title }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <input matInput type="text" maxlength="6" placeholder="Neptun Code" [(ngModel)]="neptunCode" (input)="onNeptunCodeChange()">
</mat-form-field>

<table *ngIf="catalogue" mat-table [dataSource]="catalogue">
    <!-- Neptun Code column -->
    <ng-container matColumnDef="neptunCode">
        <th mat-header-cell *matHeaderCellDef>Neptun Code</th>
        <td mat-cell *matCellDef="let entry">
            {{ entry.neptunCode }}
        </td>
    </ng-container>

    <!-- Presence column -->
    <ng-container matColumnDef="presence">
        <th mat-header-cell *matHeaderCellDef>Presence</th>
        <td mat-cell *matCellDef="let entry">
            {{ entry.presence }}
        </td>
    </ng-container>

    <!-- Homeworks column-->
    <ng-container matColumnDef="homeworks">
        <th mat-header-cell *matHeaderCellDef>Homeworks</th>
        <td mat-cell *matCellDef="let entry">
            {{ entry.hw1 && entry.hw2 }}
        </td>
    </ng-container>

    <!-- Practice column -->
    <ng-container matColumnDef="practice">
        <th mat-header-cell *matHeaderCellDef>Practice</th>
        <td mat-cell *matCellDef="let entry">
            {{ entry.presence >= entry.max * 0.7 && entry.hw1 && entry.hw2 }}
        </td>
    </ng-container>

    <!-- Plus points column -->
    <ng-container matColumnDef="plusPoints">
        <th mat-header-cell *matHeaderCellDef>Plus points</th>
        <td mat-cell *matCellDef="let entry">
            {{ entry.plusPoint }}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
